@page {
	size: A4;
	background: white;
	color: black;
	margin: var(--margin);

	@bottom-left {
		content: "Nova Forms";
	}

	@bottom-right {
		content: counter(page) "/" counter(pages);
	}
}

form {
	padding: 0 !important;
	background: white;
	color: black;
}

input[type=submit],
input[type=button],
button,
.button {
	display: none !important;
}

.section {
	margin: 0;
}

h1 {
	font-size: 20pt;
}

h2 {
    font-size: 16pt;
	border-bottom: 1px solid var(--text);
}

h3 {
	font-size: 13pt;
}

* {
    font-size: 11pt;
}

.section {
	break-inside: avoid;
}

.section-description {
    display: none;
}

.screen-only {
    display: none;
}

.cols {
	display: block;
	margin: 0;
}

.field {
	break-inside: avoid;
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid #EEE;
}

.field input,
.field select,
.field textarea,
.field .value {
	color: black;
	padding: 0;
	margin: 0;
	border: none !important;
	background: none !important;
	pointer-events: none;
	display: inline-block;
	width: 50%;
}

.field .label {
	display: inline-block;
	font-weight: bold;
	width: 50%;
}

.error-message {
	display: none;
}

.screen-only {
	display: none !important;
}

.print-only {
	display: block !important;
}

.page.hidden {
	display: block !important;
}

.dialog,
.modal {
	display: none;
}